# Test mini_pandas manually

In this notebook, we will test mini_pandas manually.

In [1]:
import sys
sys.executable

'/Users/Shubham/miniconda3/envs/mini_pandas/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import mini_pandas as mpd
import mini_pandas_final as mpdf
import pandas as pd

In [4]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = mpd.DataFrame(data)
df_final = mpdf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [5]:
from numpy.testing import assert_array_equal

In [6]:
a = np.array(['abcd', 'a'])
a = a.astype('O')
b = np.array(['abcd', 'a']).astype('O')
assert_array_equal(a, b)

In [7]:
df_final

In [8]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [9]:
df.columns = ['a', 'b', 'c', 'd', 'e']

In [10]:
df_final.columns = ['a', 'b', 'c', 'd', 'e']

In [11]:
df._data

{'a': array(['Penelope', 'Niko', 'Eleni'], dtype=object),
 'b': array(['Texas', 'California', 'Texas'], dtype=object),
 'c': array([3.6, 3.5, 5.2]),
 'd': array([ True, False,  True]),
 'e': array([ 45,  40, 130])}

In [12]:
df.shape

(3, 5)

In [13]:
df.values

array([['Penelope', 'Texas', 3.6, True, 45],
       ['Niko', 'California', 3.5, False, 40],
       ['Eleni', 'Texas', 5.2, True, 130]], dtype=object)

In [14]:
d = {'a': np.arange(20), 'b': np.arange(20)}
dfd = mpd.DataFrame(d)
dfd

In [15]:
df_pandas.dtypes

name       object
state      object
height    float64
school       bool
weight      int64
dtype: object

In [16]:
df.dtypes

In [17]:
df

In [18]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [19]:
df['state'] = 'New York'
df

In [20]:
df['district'] = np.array(['buffalo', 'rochester', 'syracuse'])
df

In [21]:
df['sex ratio'] = 4.3233333423048
df

In [22]:
df.tail(300)

In [23]:
df_pandas.isna()

    name  state  height  school  weight
0  False  False   False   False   False
1  False  False   False   False   False
2  False  False   False   False   False

In [24]:
df.sum()

In [25]:
df.isna()

In [26]:
df['haan']=np.array([2, None, 3])

In [27]:
df.isna()

In [28]:
a = np.array([1, 2, None, np.NaN])
b = np.array([1, 3, np.NaN])

In [29]:
np.isnan(b)

array([False, False,  True])

In [30]:
df.count()

In [31]:
df_pandas.name.value_counts()

Eleni       1
Penelope    1
Niko        1
Name: name, dtype: int64

In [32]:
df.value_counts(normalize=True)[3]

TypeError: '<' not supported between instances of 'NoneType' and 'int'

In [33]:
df

In [34]:
df['haan'] = np.array([2,3,4])

In [35]:
df.nunique()

In [36]:
df.drop('haan')

In [37]:
df = df.drop('haan')

In [38]:
df.rename({'name':'first_name'})

In [39]:
df['state'] = np.array(['NY', np.NaN, 'CA'])

In [40]:
df

In [41]:
df['sex ratio'] = np.array([4.32, np.NaN, 5.22])

In [42]:
df.cummax()

In [43]:
df.cummin()

In [44]:
df.cumsum()

In [45]:
df

In [46]:
df**5

In [47]:
data = {'yo' : np.array([1,2,3])}
df1 = mpd.DataFrame(data)

In [48]:
df

In [53]:
df.sort_values(['b', 'sex ratio'], asc=True)

In [54]:
data = {'state':np.array(['Texas', 'California', 'Texas', 'Texas', 'California']),
        'fruits':np.array(['Apple', 'Banana', 'Banana', 'Banana', 'Apple']),
        'weight': np.array([5, 3, 6, 10, 15])}

In [55]:
df = mpd.DataFrame(data)

In [56]:
df

In [61]:
df.pivot_table(rows='fruits', columns='state', values='weight', aggfunc='sum')

In [65]:
df

In [68]:
df.str.upper('state')

In [76]:
df = mpd.read_csv('iris.csv')

In [78]:
df