# Test mini_pandas manually

In this notebook, we will test mini_pandas manually.

In [39]:
import sys
sys.executable

'/Users/Shubham/miniconda3/envs/mini_pandas/bin/python'

In [40]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:
import numpy as np
import mini_pandas as mpd
import mini_pandas_final as mpdf
import pandas as pd

In [126]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = mpd.DataFrame(data)
df_final = mpdf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [43]:
from numpy.testing import assert_array_equal

In [44]:
a = np.array(['abcd', 'a'])
a = a.astype('O')
b = np.array(['abcd', 'a']).astype('O')
assert_array_equal(a, b)

In [45]:
df_final

In [46]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [51]:
df.columns = ['a', 'b', 'c', 'd', 'e']

In [50]:
df_final.columns = ['a', 'b', 'c', 'd', 'e']

In [52]:
df._data

{'a': array(['Penelope', 'Niko', 'Eleni'], dtype=object),
 'b': array(['Texas', 'California', 'Texas'], dtype=object),
 'c': array([3.6, 3.5, 5.2]),
 'd': array([ True, False,  True]),
 'e': array([ 45,  40, 130])}

In [53]:
df.shape

(3, 5)

In [64]:
df.values

array([['Penelope', 'Texas', 3.6, True, 45],
       ['Niko', 'California', 3.5, False, 40],
       ['Eleni', 'Texas', 5.2, True, 130]], dtype=object)

In [62]:
d = {'a': np.arange(20), 'b': np.arange(20)}
dfd = mpd.DataFrame(d)
dfd

In [66]:
df_pandas.dtypes

name       object
state      object
height    float64
school       bool
weight      int64
dtype: object

In [70]:
df.dtypes

In [112]:
df

In [135]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [145]:
df['state'] = 'New York'
df

In [147]:
df['district'] = np.array(['buffalo', 'rochester', 'syracuse'])
df

In [148]:
df['sex ratio'] = 4.3233333423048
df

In [161]:
df.tail(300)

In [170]:
df_pandas.isna()

    name  state  height  school  weight
0  False  False   False   False   False
1  False  False   False   False   False
2  False  False   False   False   False

In [169]:
df.sum()

In [171]:
df.isna()

In [172]:
df['haan']=np.array([2, None, 3])

In [180]:
df.isna()

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [183]:
a = np.array([1, 2, None, np.NaN])
b = np.array([1, 3, np.NaN])

In [184]:
np.isnan(b)

array([False, False,  True])

In [187]:
df.count()

In [202]:
df_pandas.name.value_counts()

Penelope    1
Eleni       1
Niko        1
Name: name, dtype: int64

In [213]:
df.value_counts(normalize=True)[3]

In [191]:
df

In [192]:
df['haan'] = np.array([2,3,4])

In [200]:
df.nunique()