# Test mini_pandas manually

In this notebook, we will test mini_pandas manually.

In [39]:
import sys
sys.executable

'/Users/Shubham/miniconda3/envs/mini_pandas/bin/python'

In [40]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:
import numpy as np
import mini_pandas as mpd
import mini_pandas_final as mpdf
import pandas as pd

In [42]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = mpd.DataFrame(data)
df_final = mpdf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [43]:
from numpy.testing import assert_array_equal

In [44]:
a = np.array(['abcd', 'a'])
a = a.astype('O')
b = np.array(['abcd', 'a']).astype('O')
assert_array_equal(a, b)

In [45]:
df_final

In [46]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [51]:
df.columns = ['a', 'b', 'c', 'd', 'e']

In [50]:
df_final.columns = ['a', 'b', 'c', 'd', 'e']

In [52]:
df._data

{'a': array(['Penelope', 'Niko', 'Eleni'], dtype=object),
 'b': array(['Texas', 'California', 'Texas'], dtype=object),
 'c': array([3.6, 3.5, 5.2]),
 'd': array([ True, False,  True]),
 'e': array([ 45,  40, 130])}